#include "config-debug.xcconfig"

FRAMEWORK_SEARCH_PATHS = "$(SRCROOT)"
OTHER_LDFLAGS = -ObjC -lGoogleAnalyticsServices -lTestFlight -lz -framework CFNetwork -framework CoreData -framework CoreGraphics -framework Foundation -framework MobileCoreServices -framework QuartzCore -framework Security -framework SystemConfiguration -framework UIKit -weak_framework AdSupport -framework Reveal
