
#include "config-debug.xcconfig"
#include "../Pods/Pods-KiwiUnitTest.xcconfig"

OTHER_LDFLAGS = -ObjC -lGoogleAnalyticsServices -lTestFlight -lz -framework CFNetwork -framework CoreData -framework CoreGraphics -framework Foundation -framework MobileCoreServices -framework QuartzCore -framework Security -framework SystemConfiguration -framework UIKit -weak_framework AdSupport -framework SenTestingKit